<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <Couchbase useSsl="false">
    <servers>
      <add uri="http://localhost:8091/pools"></add>
    </servers>
    <buckets>
      <add name="TreasureHunter" useSsl="false" password="1111">
        <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"></connectionPool>
      </add>
    </buckets>
  </Couchbase>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.1.0" newVersion="3.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="log4net.Config" value="log.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="TempFolderPath" value="temp" />
  </appSettings>
</configuration>
